<link rel ="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin= "anonymous" >
<div id="fondo">
    <div class="card opacity">
        <div class="d-flex flex-row">
            <div class="p-2"><a routerLink="/lugares">Lugares</a></div>
            <div class="p-2">/ Contacto</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4  offset-md-1 opacity esp">
                <h2 class="d-flex justify-content-center">¡Escríbanos!</h2>
                <label>Nombre</label>
                <input type="text"class="form-control">
                <br>
                <label>Correo</label>
                <input type="email"class="form-control">
                <br>
                <label>Mensaje</label>
                <textarea class="form-control"></textarea>
                <hr>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-success">Enviar</a>
                    <a class="btn btn-secondary">Cancelar</a>  
                </div>
                
            </div>
            <div class="col-md-4 offset-md-2 opacity esp">
                <p class="d-flex justify-content-center"><i class="fas fa-globe fa-4x"></i></p>
                <h2 class="d-flex justify-content-center">Contacto</h2>
                <p class="d-flex justify-content-center">Alexis Rodriguez</p>
                <p class="d-flex justify-content-center">DesarrolLador full stack</p>
                <p class="d-flex justify-content-center"><i class="fas fa-phone"><span> 3045589531</span></i></p>
                <p class="d-flex justify-content-center"><i class="fas fa-map-marker-alt"><span> Medellin, COLOMBIA</span></i></p>
            </div>
        </div>
        
    </div>
</div>